.offcanvas {
    position: relative;
    overflow: hidden;
    width: 100%;
}

main {
    width: 100%;
    height: 100%;
    position: relative;

    -webkit-transform: translateX(0);
    transform: translateX(0);

    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);

    -webkit-transition: 300ms ease all;
    transition: 300ms ease all;

    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}

.offcanvas nav {
    width: 370px;
    height: 100%;
    position: absolute;
    top: 0;
    left: -370px;
}

.offcanvas.is-active main {
    -webkit-transform: translateX(370px);
    transform: translateX(370px);

    -webkit-transform: translate3d(370px, 0, 0);
    transform: translate3d(370px, 0, 0);
}