@font-face {
  font-family: 'WHHoxtonWeb';
  src: url('./fonts/WHHoxtonWeb-Regular.eot'); /* IE9 Compat Modes */
  src: url('./fonts/WHHoxtonWeb-Regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('./fonts/WHHoxtonWeb-Regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('./fonts/WHHoxtonWeb-Regular.woff') format('woff'), /* Pretty Modern Browsers */
       url('./fonts/WHHoxtonWeb-Regular.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('./fonts/WHHoxtonWeb-Regular.svg#svgFontName') format('svg'); /* Legacy iOS */
}

.app * {
    box-sizing: border-box;
    font-family: 'WHHoxtonWeb';
}