.join {
	background: #00afff;
	border-radius: 2px;
    border: 1px solid #00afff;
    color: #fff;
    float: right;
    font-size: 12px;
    font-weight: bold;
    line-height: 12px;
    margin: 8px 4px;
    padding: 7px 11px;
}
