.navigation {
    display: inline-block;
}

.navigation a {
    margin: 0 16px;
    line-height: 15px;
    color: #fff;
    font-size: 12px;
    opacity: 0.6;
    text-decoration: none;
}

.navigation a:first-child {
    margin-left: 0;
}

.navigation a:last-child {
    margin-right: 0;
}

.navigation a.active {
    font-weight: bold;
    opacity: 1;
    transition: opacity 0.5s;
    border-bottom: 1px solid #faff05;
    padding-bottom: 3px;
}

.mobile {
    padding: 15px;
}

.mobile a {
    margin: 8px 0;
    color: #000;
    font-size: 14px;
    line-height: 15px;
    opacity: 0.6;
    text-decoration: none;
    display: block;
}

.mobile a.active {
    font-weight: bold;
    opacity: 1;
    transition: opacity 0.5s;
    padding-bottom: 3px;
}
